.main {
    font-family: Helvetica,Arial,sans-serif;
    padding: 0 40rpx;
    .book-detail {
        .title {
            font-size: 60rpx;
            margin-bottom: 20rpx;
        }
        .content {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30rpx;
            .content-left {
                width: 45%;
                image {
                    width: 100%;
                    height: 400rpx;
                }
            }
            .content-right {
                width: 48%;
                font-size: 30rpx;
            }
        }
    }
    .item-title {
        color: #007722;
        font-size: 40rpx;
        font-family: sans-serif
    }
    .item-text {
        font-size: 30rpx;
        line-height: 2;
        text-indent: 30rpx;
        text-align: left;
        display: block;
    }
    .book-intro {
        font-size: 35rpx;
        margin-bottom: 30rpx;
    }
    .author-intro {
        font-size: 35rpx;
        margin-bottom: 30rpx;
    }
}